 .u-section-1 {
  background-image: linear-gradient(15deg, #ad60ee, #ec4668);
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  font-size: 6.76471rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 141px 200px 0 156px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 47px 58px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 4s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: scale(1.1) translateX(0px) translateY(0px);
  margin: 70px auto 0 418px;
}

.u-section-1 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: -23px 426px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: 784px;
    margin-left: 56px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 247px;
    margin-left: 218px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 290px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 33px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 33px !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 53px;
}

.u-section-2 .u-text-2 {
  margin: 13px 0 0 24px;
}

.u-section-2 .u-image-1 {
  min-height: 636px;
  background-image: url("images/image1.png");
  background-position: 90.58% 69.19%;
  background-size: 110%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 602px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-2 .u-image-1 {
    min-height: 379px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 0 15px;
}

.u-section-3 .u-image-1 {
  min-height: 477px;
  background-image: url("images/image2.png");
  background-position: 50% 73.64%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 393px;
    background-size: 110%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 301px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 452px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 285px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 63px 15px 0;
}

.u-section-4 .u-image-1 {
  min-height: 477px;
  background-image: url("images/image3.png");
  background-position: 100% 70.31%;
  background-size: 110%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 393px;
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 301px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 452px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 285px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 670px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 33px 15px 0;
}

.u-section-5 .u-image-1 {
  min-height: 477px;
  background-image: url("images/image4.png");
  background-position: 100% 85.34%;
  background-size: 105%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 301px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 452px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 285px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 377px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 91px 15px 0;
}

.u-section-6 .u-image-1 {
  min-height: 386px;
  background-image: url("images/image5.png");
  background-position: 50% 64.73%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 318px;
    background-size: 105%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 244px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 366px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 230px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 670px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 77px 15px 0;
}

.u-section-7 .u-image-1 {
  min-height: 477px;
  background-image: url("images/image6.png");
  background-position: 50% 86.16%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 393px;
    background-size: 105%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 301px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 452px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 285px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 354px;
}

.u-section-8 .u-text-1 {
  width: 523px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 354px;
}

.u-section-9 .u-text-1 {
  width: 523px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 627px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-10 .u-image-1 {
  min-height: 443px;
  background-image: url("images/0-02-05-432cf0a956d29a5738284b65d4d9f5ef7cf385e799a55e07e87946c6110e5241_8469b91124f1e13a.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-10 .u-image-2 {
  min-height: 443px;
  background-image: url("images/clipboard_image_ab54cfa0b46db77.png");
  background-position: 20.67% 50%;
}

.u-section-10 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 537px;
}

.u-section-10 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-10 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-1 {
    min-height: 365px;
  }

  .u-section-10 .u-image-2 {
    min-height: 365px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-10 .u-image-1 {
    min-height: 280px;
  }

  .u-section-10 .u-image-2 {
    min-height: 280px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 871px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-10 .u-image-1 {
    min-height: 741px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    min-height: 741px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 751px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-10 .u-image-1 {
    min-height: 467px;
  }

  .u-section-10 .u-image-2 {
    min-height: 467px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 553px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 318px;
}

.u-section-11 .u-text-1 {
  width: 523px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  line-height: 1.8;
  font-size: 1.23529rem;
  width: 500px;
  margin: 57px auto 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.823529rem;
  letter-spacing: 1px;
  margin: 47px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 510px;
}

.u-section-12 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 320px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-text-2 {
  margin-top: 0;
  font-size: 2.23529rem;
  font-weight: 700;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 320px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-3 {
  margin-top: 0;
  font-size: 2.23529rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 165px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 380px;
}

.u-section-13 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0 12px;
}

.u-section-13 .u-list-1 {
  grid-template-rows: auto;
  margin: 0;
}

.u-section-13 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  grid-gap: 0px 0px;
  min-height: 250px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-13 .u-image-1 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-13 .u-image-2 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-13 .u-image-3 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-13 .u-image-4 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-13 .u-image-5 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-13 .u-image-6 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-13 .u-image-7 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-13 .u-image-8 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-13 .u-image-9 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-13 .u-image-10 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-13 .u-image-11 {
  height: 65px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-13 .u-image-12 {
  height: 65px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-13 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-1 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-2 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-3 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-4 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-5 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-6 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-7 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-8 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-9 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-10 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-11 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-12 {
    height: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-13 .u-image-1 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-2 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-3 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-4 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-5 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-6 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-7 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-8 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-9 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-10 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-11 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-image-12 {
    height: 87px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-2 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-3 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-4 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-5 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-6 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-7 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-8 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-9 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-10 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-11 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-13 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-12 {
    height: 93px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-13 .u-image-1 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-2 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-3 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-4 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-5 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-6 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-7 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-8 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-9 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-10 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-11 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-12 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 563px;
}

.u-section-14 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-14 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-14 .u-image-1 {
  width: 296px;
  height: 333px;
  margin: 34px auto 0 0;
}

.u-section-14 .u-text-1 {
  margin: -251px 0 0 347px;
}

.u-section-14 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 347px;
}

.u-section-14 .u-container-layout-2 {
  padding: 24px 130px;
}

.u-section-14 .u-image-2 {
  width: 298px;
  height: 364px;
  object-position: 38.03% 50%;
  margin: 26px auto 0 0;
}

.u-section-14 .u-text-3 {
  margin: -268px 0 0 348px;
}

.u-section-14 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 348px;
}

.u-section-14 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: linear-gradient(#2e2933, black);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-14 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: linear-gradient(#2e2933, black);
  left: auto;
  position: absolute;
  right: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-14 .u-slider-1 {
    height: auto;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-14 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-14 .u-image-2 {
    margin-top: 68px;
  }

  .u-section-14 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-14 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-14 .u-image-1 {
    width: 250px;
  }

  .u-section-14 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-14 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-14 .u-image-2 {
    width: 250px;
    height: 326px;
    margin-top: 26px;
  }

  .u-section-14 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-14 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-1 {
    margin-left: auto;
  }

  .u-section-14 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-image-2 {
    margin-left: auto;
  }

  .u-section-14 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-14 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}